# Ignore everything
/*

# But not these files...
!.gitignore
!Makefile
!user_sort*
!*.batch
!gainshift*
!/lib
!Readme.md
# etc...

# ignore orject files
*.o

# ...even if they are in subdirectories
# !*/
