# Ignore everything
/*

# But not these files...
!.gitignore
!Makefile
!user_sort*
!*.batch
!gainshift*
!/lib
!Readme.md
!zrange*
# etc...

# ignore orject files
*.o
*.depend-*.dep
*.a


# ...even if they are in subdirectories
# !*/
/lib/.DS_Store
